<h1>Welcome to MyGameZone!</h1>

<h2>My Games | <i><%= link_to("Add a game", games_path) %></i></h2>

<table>
  <tr>
    <th>Votes</th>
    <th>Game</th>
    <th>Players</th>
    <th>Time</th>
  </tr>
  <%= render @user_games %>
</table>


<h2>My Friends</h2>
<ul>
  <%= render @user_friends %>
</ul>
