<!-- @user_games = current_user.game.all
     @user_friends = User.all - current_user -->

<tr>
  <td><%# vote total %></td>
  <td><%= link_to "#{game.title}", type_game_path(@type, game) %></td>
  <td><%= game.players_min %> to <%= game.players_max %></td>
  <td><%= game.duration %></td>
</tr>
