<tr>
  <td><%# vote total %></td>
  <td><%= (link_to "#{game.title}", game_path(game)) %></td>

  <% if check_players(game) %>
    <td><%= game.players_min %></td>
  <% else %>
    <td><%= "#{game.players_min}-#{game.players_max}" %></td>
  <% end %>

  <td><%= game.duration < 60 ? "#{game.duration} min." : pluralize(game.duration/60, "hour") %></td>
</tr>
