<h1>List of all games with some buttons</h1>

<table>
  <tr>
    <th>Votes</th>
    <th>Game</th>
    <th>Players</th>
    <th>Time</th>
    <th>I Own?</th>
    <th>Who Owns?</th>
  </tr>
  <%= render @games %>
</table>
