<h1>List of all games with some buttons</h1>
<p><strong>If your game isn't listed, <%= link_to("add it now!", new_game_path) %></strong></p>
<table>
  <tr>
    <th>Votes</th>
    <th>Game</th>
    <th>Players</th>
    <th>Time</th>
    <th>I Own?</th>
    <th>Who Owns?</th>
  </tr>
  <%= render @games %>
</table>
